<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.css @ categories='migration.footer'}" />
<!-- <link rel="stylesheet" href="//1.www.s81c.com/common/v18/drupal/css/www.css" media="all" /> -->
<footer role="contentinfo" aria-label="IBM">
   <div class="region region-footer">
      <div id="ibm-footer-module">
         <section role="region" aria-label="Resources">
            <div class="ibm-columns ibm-word-break" id="ibm-footer-module-links">
               <div class="ibm-footermenu-list ibm-col-4-1" aria-label="Discover">
                  <h3 class="ibm-bold">Discover</h3>
                  <ul class="ibm-plain-list ibm-textcolumns-small-2">
                     <li><a href="https://www.ibm.com/in-en/products/?lnk=fdi-inen" data-di-id="di-id-238490ab-584fca14">Products</a></li>
                     <li><a href="https://www.ibm.com/in-en/products/trials?lnk=fdi-inen" data-di-id="di-id-c23e967d-bbef0b0c">Trials</a></li>
                     <li><a href="https://www.ibm.com/in-en/services?lnk=fdi-inen" data-di-id="di-id-529d64b0-6b557ddc">Services</a></li>
                     <li><a href="https://www.ibm.com/in-en/industries?lnk=fdi-inen" data-di-id="di-id-238490ab-2332bc9">Industries</a></li>
                     <li><a href="https://www.ibm.com/in-en/products/offers-and-discounts?lnk=fdi-inen" data-di-id="di-id-17efbc69-3c00837d">IBM discounts</a></li>
                     <li><a href="https://www.ibm.com/case-studies?lnk=fdi_inen" data-di-id="di-id-faecf6b5-1ac5f1f7">Case studies</a></li>
                     <li><a href="https://www.ibm.com/in-en/financing" data-di-id="di-id-238490ab-bf8a6c99">Financing</a></li>
                  </ul>
               </div>
               <div class="ibm-footermenu-list ibm-col-4-1" aria-label="Learn about">
                  <h3 class="ibm-bold">Learn about</h3>
                  <ul class="ibm-plain-list ibm-textcolumns-small-2">
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/iaas-paas-saas" data-di-id="di-id-f859926-420f6cd3">What is IaaS ,PaaS &amp; SaaS?</a></li>
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/cloud-computing" data-di-id="di-id-57685acc-93fe82aa">What is Cloud Computing?</a></li>
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/virtual-machines" data-di-id="di-id-57685acc-77d2bbe8">What is Virtual Machine?</a></li>
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/what-is-object-storage" data-di-id="di-id-d1027329-81aad15">What is Object Storage?</a></li>
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/containerization" data-di-id="di-id-57685acc-132dd0da">What is Contenarization?</a></li>
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/kubernetes" data-di-id="di-id-60c19b1f-27d31761">What is Kubernetes?</a></li>
                     <li><a href="https://www.ibm.com/in-en/cloud/learn/faas" data-di-id="di-id-c23e967d-143bc50f">What is FaaS?</a></li>
                  </ul>
               </div>
               <div class="ibm-footermenu-list ibm-col-4-1" aria-label="Connect with us">
                  <h3 class="ibm-bold">Connect with us</h3>
                  <ul class="ibm-plain-list ibm-textcolumns-small-2">
                     <li><a href="https://www.ibm.com/in-en/consulting?lnk=fcw" data-di-id="di-id-238490ab-c59b41b5">Engage IBM Consulting</a></li>
                     <li><a href="https://www.ibm.com/support/in/en/?lnk=fcw" data-di-id="di-id-529d64b0-ca6793ac">Support</a></li>
                     <li><a href="https://www.ibm.com/partnerworld/wps/bplocator/search.jsp" data-di-id="di-id-b67ea8f1-49b786bc">Find a Business Partner</a></li>
                     <li><a href="https://www.ibm.com/developerworks/" data-di-id="di-id-238490ab-9325195e">Developers</a></li>
                     <li><a href="https://www.ibm.com/partnerworld" data-di-id="di-id-faecf6b5-16fa8cfd">Business Partners</a></li>
                  </ul>
               </div>
               <div class="ibm-footermenu-list ibm-col-4-1" aria-label="About IBM">
                  <h3 class="ibm-bold">About IBM</h3>
                  <ul class="ibm-plain-list ibm-textcolumns-small-2">
                     <li><a href="https://www.ibm.com/in-en/employment/" data-di-id="di-id-6f9c9901-c4bc4376">Careers</a></li>
                     <li><a href="https://www.ibm.com/press/in/en/index.wss" data-di-id="di-id-c23e967d-f07fe4ce">Latest news</a></li>
                     <li><a href="https://www.ibm.com/investor/" data-di-id="di-id-eca1a606-f80f6ea1">Investor relations</a></li>
                     <li><a href="https://www.ibm.com/impact?lnk=fab_inen" data-di-id="di-id-e63c24ba-ff0a67de">Corporate responsibility</a></li>
                     <li><a href="https://www.ibm.com/ibm/recycle/in-en/index.shtml" data-di-id="di-id-8a0a6207-22f72584">IBM product recycling</a></li>
                     <li><a href="https://www.ibm.com/in-en/about" data-di-id="di-id-faecf6b5-af0ebdd2">About IBM</a></li>
                  </ul>
               </div>
            </div>
            <div class="ibm-footer-locale-columns ibm-columns">
               <div id="ibm-footer-locale-selector" class="ibm-col-4-1 ibm-col-medium-4-2 ibm-fright">
                  <h3 id="ibm-footer-locale-selector-label" class="ibm-bold">Select a country/region</h3>
                  <select class="ibm-fullwidth select2-hidden-accessible ibm-widget-processed" aria-labelledby="ibm-footer-locale-selector-label" tabindex="-1" aria-hidden="true" style="width: 300px;">
                     <optgroup label="Localized versions of this page">
                        <option data-localecode="en-in" value="https://www.ibm.com/in-en">India - English</option>
                        <option data-localecode="es-ar" value="https://www.ibm.com/ar-es">Argentina - Spanish</option>
                        <option data-localecode="en-au" value="https://www.ibm.com/au-en">Australia - English</option>
                        <option data-localecode="de-at" value="https://www.ibm.com/at-de">Austria - German</option>
                        <option data-localecode="en-be" value="https://www.ibm.com/be-en">Belgium/Luxembourg - English</option>
                        <option data-localecode="pt-br" value="https://www.ibm.com/br-pt">Brazil - Portuguese</option>
                        <option data-localecode="en-ca" value="https://www.ibm.com/ca-en">Canada - English</option>
                        <option data-localecode="fr-ca" value="https://www.ibm.com/ca-fr">Canada - French</option>
                        <option data-localecode="es-cl" value="https://www.ibm.com/cl-es">Chile - Spanish</option>
                        <option data-localecode="zh-cn" value="https://www.ibm.com/cn-zh">China - Chinese (Simplified)</option>
                        <option data-localecode="es-co" value="https://www.ibm.com/co-es">Colombia - Spanish</option>
                        <option data-localecode="en-cz" value="https://www.ibm.com/cz-en">Czech Republic - English</option>
                        <option data-localecode="en-dk" value="https://www.ibm.com/dk-en">Denmark - English</option>
                        <option data-localecode="en-eg" value="https://www.ibm.com/eg-en">Egypt - English</option>
                        <option data-localecode="en-fi" value="https://www.ibm.com/fi-en">Finland - English</option>
                        <option data-localecode="fr-fr" value="https://www.ibm.com/fr-fr">France - French</option>
                        <option data-localecode="de-de" value="https://www.ibm.com/de-de">Germany - German</option>
                        <option data-localecode="en-gr" value="https://www.ibm.com/gr-en">Greece - English</option>
                        <option data-localecode="en-hk" value="https://www.ibm.com/hk-en">Hong Kong S.A.R. of China - English</option>
                        <option data-localecode="en-hu" value="https://www.ibm.com/hu-en">Hungary - English</option>
                        <option data-localecode="en-id" value="https://www.ibm.com/id-en">Indonesia - English</option>
                        <option data-localecode="en-ie" value="https://www.ibm.com/ie-en">Ireland - English</option>
                        <option data-localecode="en-il" value="https://www.ibm.com/il-en">Israel - English</option>
                        <option data-localecode="it-it" value="https://www.ibm.com/it-it">Italy - Italian</option>
                        <option data-localecode="ja-jp" value="https://www.ibm.com/jp-ja">Japan - Japanese</option>
                        <option data-localecode="ko-kr" value="https://www.ibm.com/kr-ko">Korea, Republic of - Korean</option>
                        <option data-localecode="en-my" value="https://www.ibm.com/my-en">Malaysia - English</option>
                        <option data-localecode="es-mx" value="https://www.ibm.com/mx-es">Mexico - Spanish</option>
                        <option data-localecode="en-nl" value="https://www.ibm.com/nl-en">Netherlands - English</option>
                        <option data-localecode="en-nz" value="https://www.ibm.com/nz-en">New Zealand - English</option>
                        <option data-localecode="en-no" value="https://www.ibm.com/no-en">Norway - English</option>
                        <option data-localecode="es-pe" value="https://www.ibm.com/pe-es">Peru - Spanish</option>
                        <option data-localecode="en-ph" value="https://www.ibm.com/ph-en">Philippines - English</option>
                        <option data-localecode="pl-pl" value="https://www.ibm.com/pl-pl">Poland - Polish</option>
                        <option data-localecode="en-pt" value="https://www.ibm.com/pt-en">Portugal - English</option>
                        <option data-localecode="en-ro" value="https://www.ibm.com/ro-en">Romania - English</option>
                        <option data-localecode="ru-ru" value="https://www.ibm.com/ru-ru">Russian Federation - Russian</option>
                        <option data-localecode="en-sa" value="https://www.ibm.com/sa-en">Saudi Arabia - English</option>
                        <option data-localecode="en-sg" value="https://www.ibm.com/sg-en">Singapore - English</option>
                        <option data-localecode="en-za" value="https://www.ibm.com/za-en">South Africa - English</option>
                        <option data-localecode="es-es" value="https://www.ibm.com/es-es">Spain - Spanish</option>
                        <option data-localecode="en-se" value="https://www.ibm.com/se-en">Sweden - English</option>
                        <option data-localecode="fr-ch" value="https://www.ibm.com/ch-fr">Switzerland - French</option>
                        <option data-localecode="de-ch" value="https://www.ibm.com/ch-de">Switzerland - German</option>
                        <option data-localecode="en-tw" value="https://www.ibm.com/tw-en">Taiwan - English</option>
                        <option data-localecode="en-th" value="https://www.ibm.com/th-en">Thailand - English</option>
                        <option data-localecode="tr-tr" value="https://www.ibm.com/tr-tr">Turkey - Turkish</option>
                        <option data-localecode="en-ae" value="https://www.ibm.com/ae-en">United Arab Emirates - English</option>
                        <option data-localecode="en-uk" value="https://www.ibm.com/uk-en">United Kingdom - English</option>
                        <option data-localecode="en-vn" value="https://www.ibm.com/vn-en">Vietnam - English</option>
                     </optgroup>
                     <optgroup label="Worldwide ibm.com home pages">
                        <option data-localecode="en-af" value="http://www.ibm.com/af-en/?lnk=fcc">Afghanistan - English</option>
                        <option data-localecode="fr-dz" value="http://www.ibm.com/dz-fr/?lnk=fcc">Algeria - French</option>
                        <option data-localecode="pt-ao" value="http://www.ibm.com/ao-pt/?lnk=fcc">Angola - Portuguese</option>
                        <option data-localecode="en-ai" value="http://www.ibm.com/ai-en/?lnk=fcc">Anguilla - English</option>
                        <option data-localecode="en-ag" value="http://www.ibm.com/ag-en/?lnk=fcc">Antigua and Barbuda - English</option>
                        <option data-localecode="en-aw" value="http://www.ibm.com/aw-en/?lnk=fcc">Aruba - English</option>
                        <option data-localecode="en-bs" value="http://www.ibm.com/bs-en/?lnk=fcc">Bahamas - English</option>
                        <option data-localecode="en-bh" value="http://www.ibm.com/bh-en/?lnk=fcc">Bahrain - English</option>
                        <option data-localecode="en-bd" value="http://www.ibm.com/bd-en/?lnk=fcc">Bangladesh - English</option>
                        <option data-localecode="en-bb" value="http://www.ibm.com/bb-en/?lnk=fcc">Barbados - English</option>
                        <option data-localecode="nl-be" value="http://www.ibm.com/be-nl/?lnk=fcc">Belgium/Luxembourg - Dutch</option>
                        <option data-localecode="fr-be" value="http://www.ibm.com/be-fr/?lnk=fcc">Belgium/Luxembourg - French</option>
                        <option data-localecode="en-bm" value="http://www.ibm.com/bm-en/?lnk=fcc">Bermuda - English</option>
                        <option data-localecode="es-bo" value="http://www.ibm.com/bo-es/?lnk=fcc">Bolivia - Spanish</option>
                        <option data-localecode="en-bw" value="http://www.ibm.com/bw-en/?lnk=fcc">Botswana - English</option>
                        <option data-localecode="en-bn" value="http://www.ibm.com/bn-en/?lnk=fcc">Brunei Darussalam - English</option>
                        <option data-localecode="bg-bg" value="http://www.ibm.com/bg-bg/?lnk=fcc">Bulgaria - Bulgarian</option>
                        <option data-localecode="en-bg" value="http://www.ibm.com/bg-en/?lnk=fcc">Bulgaria - English</option>
                        <option data-localecode="fr-bf" value="http://www.ibm.com/bf-fr/?lnk=fcc">Burkina Faso - French</option>
                        <option data-localecode="en-kh" value="http://www.ibm.com/kh-en/?lnk=fcc">Cambodia - English</option>
                        <option data-localecode="en-cm" value="http://www.ibm.com/cm-en/?lnk=fcc">Cameroon - English</option>
                        <option data-localecode="fr-cm" value="http://www.ibm.com/cm-fr/?lnk=fcc">Cameroon - French</option>
                        <option data-localecode="en-ky" value="http://www.ibm.com/ky-en/?lnk=fcc">Cayman Islands - English</option>
                        <option data-localecode="fr-td" value="http://www.ibm.com/td-fr/?lnk=fcc">Chad - French</option>
                        <option data-localecode="fr-cg" value="http://www.ibm.com/cg-fr/?lnk=fcc">Congo - French</option>
                        <option data-localecode="fr-cd" value="http://www.ibm.com/cd-fr/?lnk=fcc">Congo, The Democratic Republic of the - French</option>
                        <option data-localecode="es-cr" value="http://www.ibm.com/cr-es/?lnk=fcc">Costa Rica - Spanish</option>
                        <option data-localecode="hr-hr" value="http://www.ibm.com/hr-hr/?lnk=fcc">Croatia - Croatian</option>
                        <option data-localecode="en-hr" value="http://www.ibm.com/hr-en/?lnk=fcc">Croatia - English</option>
                        <option data-localecode="en-cw" value="http://www.ibm.com/cw-en/?lnk=fcc">Curacao - English</option>
                        <option data-localecode="en-cy" value="http://www.ibm.com/cy-en/?lnk=fcc">Cyprus - English</option>
                        <option data-localecode="cs-cz" value="http://www.ibm.com/cz-cs/?lnk=fcc">Czech Republic - Czech</option>
                        <option data-localecode="da-dk" value="http://www.ibm.com/dk-da/?lnk=fcc">Denmark - Danish</option>
                        <option data-localecode="en-dm" value="http://www.ibm.com/dm-en/?lnk=fcc">Dominica - English</option>
                        <option data-localecode="es-ec" value="http://www.ibm.com/ec-es/?lnk=fcc">Ecuador - Spanish</option>
                        <option data-localecode="en-ee" value="http://www.ibm.com/ee-en/?lnk=fcc">Estonia - English</option>
                        <option data-localecode="et-ee" value="http://www.ibm.com/ee-et/?lnk=fcc">Estonia - Estonian</option>
                        <option data-localecode="en-et" value="http://www.ibm.com/et-en/?lnk=fcc">Ethiopia - English</option>
                        <option data-localecode="fi-fi" value="http://www.ibm.com/fi-fi/?lnk=fcc">Finland - Finnish</option>
                        <option data-localecode="fr-ga" value="http://www.ibm.com/ga-fr/?lnk=fcc">Gabon - French</option>
                        <option data-localecode="en-gh" value="http://www.ibm.com/gh-en/?lnk=fcc">Ghana - English</option>
                        <option data-localecode="el-gr" value="http://www.ibm.com/gr-el/?lnk=fcc">Greece - Greek</option>
                        <option data-localecode="en-gd" value="http://www.ibm.com/gd-en/?lnk=fcc">Grenada - English</option>
                        <option data-localecode="en-gy" value="http://www.ibm.com/gy-en/?lnk=fcc">Guyana - English</option>
                        <option data-localecode="hu-hu" value="http://www.ibm.com/hu-hu/?lnk=fcc">Hungary - Hungarian</option>
                        <option data-localecode="en-iq" value="http://www.ibm.com/iq-en/?lnk=fcc">Iraq - English</option>
                        <option data-localecode="he-il" value="http://www.ibm.com/il-he/?lnk=fcc">Israel - Hebrew</option>
                        <option data-localecode="fr-ci" value="http://www.ibm.com/ci-fr/?lnk=fcc">Ivory Coast - French</option>
                        <option data-localecode="en-jm" value="http://www.ibm.com/jm-en/?lnk=fcc">Jamaica - English</option>
                        <option data-localecode="en-jo" value="http://www.ibm.com/jo-en/?lnk=fcc">Jordan - English</option>
                        <option data-localecode="en-kz" value="http://www.ibm.com/kz-en/?lnk=fcc">Kazakhstan - English</option>
                        <option data-localecode="kk-kz" value="http://www.ibm.com/kz-kk/?lnk=fcc">Kazakhstan - Kazakh</option>
                        <option data-localecode="en-ke" value="http://www.ibm.com/ke-en/?lnk=fcc">Kenya - English</option>
                        <option data-localecode="en-kw" value="http://www.ibm.com/kw-en/?lnk=fcc">Kuwait - English</option>
                        <option data-localecode="en-lv" value="http://www.ibm.com/lv-en/?lnk=fcc">Latvia - English</option>
                        <option data-localecode="lv-lv" value="http://www.ibm.com/lv-lv/?lnk=fcc">Latvia - Latvian</option>
                        <option data-localecode="en-lb" value="http://www.ibm.com/lb-en/?lnk=fcc">Lebanon - English</option>
                        <option data-localecode="en-ly" value="http://www.ibm.com/ly-en/?lnk=fcc">Libya - English</option>
                        <option data-localecode="en-lt" value="http://www.ibm.com/lt-en/?lnk=fcc">Lithuania - English</option>
                        <option data-localecode="lt-lt" value="http://www.ibm.com/lt-lt/?lnk=fcc">Lithuania - Lithuanian</option>
                        <option data-localecode="fr-mg" value="http://www.ibm.com/mg-fr/?lnk=fcc">Madagascar - French</option>
                        <option data-localecode="en-mw" value="http://www.ibm.com/mw-en/?lnk=fcc">Malawi - English</option>
                        <option data-localecode="en-mu" value="http://www.ibm.com/mu-en/?lnk=fcc">Mauritius - English</option>
                        <option data-localecode="fr-mu" value="http://www.ibm.com/mu-fr/?lnk=fcc">Mauritius - French</option>
                        <option data-localecode="en-ms" value="http://www.ibm.com/ms-en/?lnk=fcc">Montserrat - English</option>
                        <option data-localecode="fr-ma" value="http://www.ibm.com/ma-fr/?lnk=fcc">Morocco - French</option>
                        <option data-localecode="pt-mz" value="http://www.ibm.com/mz-pt/?lnk=fcc">Mozambique - Portuguese</option>
                        <option data-localecode="en-na" value="http://www.ibm.com/na-en/?lnk=fcc">Namibia - English</option>
                        <option data-localecode="en-np" value="http://www.ibm.com/np-en/?lnk=fcc">Nepal - English</option>
                        <option data-localecode="nl-nl" value="http://www.ibm.com/nl-nl/?lnk=fcc">Netherlands - Dutch</option>
                        <option data-localecode="fr-ne" value="http://www.ibm.com/ne-fr/?lnk=fcc">Niger - French</option>
                        <option data-localecode="en-ng" value="http://www.ibm.com/ng-en/?lnk=fcc">Nigeria - English</option>
                        <option data-localecode="no-no" value="http://www.ibm.com/no-no/?lnk=fcc">Norway - Norwegian</option>
                        <option data-localecode="en-om" value="http://www.ibm.com/om-en/?lnk=fcc">Oman - English</option>
                        <option data-localecode="en-pk" value="http://www.ibm.com/pk-en/?lnk=fcc">Pakistan - English</option>
                        <option data-localecode="es-py" value="http://www.ibm.com/py-es/?lnk=fcc">Paraguay - Spanish</option>
                        <option data-localecode="pt-pt" value="http://www.ibm.com/pt-pt/?lnk=fcc">Portugal - Portuguese</option>
                        <option data-localecode="en-qa" value="http://www.ibm.com/qa-en/?lnk=fcc">Qatar - English</option>
                        <option data-localecode="ro-ro" value="http://www.ibm.com/ro-ro/?lnk=fcc">Romania - Romanian</option>
                        <option data-localecode="en-kn" value="http://www.ibm.com/kn-en/?lnk=fcc">Saint Kitts and Nevis - English</option>
                        <option data-localecode="en-lc" value="http://www.ibm.com/lc-en/?lnk=fcc">Saint Lucia - English</option>
                        <option data-localecode="en-vc" value="http://www.ibm.com/vc-en/?lnk=fcc">Saint Vincent and the Grenadines - English</option>
                        <option data-localecode="ar-sa" value="http://www.ibm.com/sa-ar/?lnk=fcc">Saudi Arabia - Arabic</option>
                        <option data-localecode="fr-sn" value="http://www.ibm.com/sn-fr/?lnk=fcc">Senegal - French</option>
                        <option data-localecode="en-rs" value="http://www.ibm.com/rs-en/?lnk=fcc">Serbia - English</option>
                        <option data-localecode="sr-rs" value="http://www.ibm.com/rs-sr/?lnk=fcc">Serbia - Serbian</option>
                        <option data-localecode="fr-sc" value="http://www.ibm.com/sc-fr/?lnk=fcc">Seychelles - French</option>
                        <option data-localecode="en-sl" value="http://www.ibm.com/sl-en/?lnk=fcc">Sierra Leone - English</option>
                        <option data-localecode="en-sk" value="http://www.ibm.com/sk-en/?lnk=fcc">Slovakia - English</option>
                        <option data-localecode="sk-sk" value="http://www.ibm.com/sk-sk/?lnk=fcc">Slovakia - Slovak</option>
                        <option data-localecode="en-si" value="http://www.ibm.com/si-en/?lnk=fcc">Slovenia - English</option>
                        <option data-localecode="sl-si" value="http://www.ibm.com/si-sl/?lnk=fcc">Slovenia - Slovenian</option>
                        <option data-localecode="en-lk" value="http://www.ibm.com/lk-en/?lnk=fcc">Sri Lanka - English</option>
                        <option data-localecode="en-sr" value="http://www.ibm.com/sr-en/?lnk=fcc">Suriname - English</option>
                        <option data-localecode="sv-se" value="http://www.ibm.com/se-sv/?lnk=fcc">Sweden - Swedish</option>
                        <option data-localecode="zh-tw" value="http://www.ibm.com/tw-zh/?lnk=fcc">Taiwan - Chinese (Traditional)</option>
                        <option data-localecode="en-tz" value="http://www.ibm.com/tz-en/?lnk=fcc">Tanzania, United Republic of - English</option>
                        <option data-localecode="en-tt" value="http://www.ibm.com/tt-en/?lnk=fcc">Trinidad and Tobago - English</option>
                        <option data-localecode="fr-tn" value="http://www.ibm.com/tn-fr/?lnk=fcc">Tunisia - French</option>
                        <option data-localecode="en-tc" value="http://www.ibm.com/tc-en/?lnk=fcc">Turks and Caicos Islands - English</option>
                        <option data-localecode="en-ug" value="http://www.ibm.com/ug-en/?lnk=fcc">Uganda - English</option>
                        <option data-localecode="en-ua" value="http://www.ibm.com/ua-en/?lnk=fcc">Ukraine - English</option>
                        <option data-localecode="uk-ua" value="http://www.ibm.com/ua-uk/?lnk=fcc">Ukraine - Ukrainian</option>
                        <option data-localecode="ar-ae" value="http://www.ibm.com/ae-ar/?lnk=fcc">United Arab Emirates - Arabic</option>
                        <option data-localecode="en-us" value="http://www.ibm.com/us-en/?lnk=fcc">United States - English</option>
                        <option data-localecode="es-uy" value="http://www.ibm.com/uy-es/?lnk=fcc">Uruguay - Spanish</option>
                        <option data-localecode="en-uz" value="http://www.ibm.com/uz-en/?lnk=fcc">Uzbekistan - English</option>
                        <option data-localecode="uz-uz" value="http://www.ibm.com/uz-uz/?lnk=fcc">Uzbekistan - Uzbek</option>
                        <option data-localecode="es-ve" value="http://www.ibm.com/ve-es/?lnk=fcc">Venezuela - Spanish</option>
                        <option data-localecode="vi-vn" value="http://www.ibm.com/vn-vi/?lnk=fcc">Vietnam - Vietnamese</option>
                        <option data-localecode="en-vg" value="http://www.ibm.com/vg-en/?lnk=fcc">Virgin Islands, British - English</option>
                        <option data-localecode="en-ye" value="http://www.ibm.com/ye-en/?lnk=fcc">Yemen - English</option>
                        <option data-localecode="en-zm" value="http://www.ibm.com/zm-en/?lnk=fcc">Zambia - English</option>
                        <option data-localecode="en-zw" value="http://www.ibm.com/zw-en/?lnk=fcc">Zimbabwe - English</option>
                     </optgroup>
                  </select>
                  <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-dhoz-container"><span class="select2-selection__rendered" id="select2-dhoz-container" title="India - English">India - English</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
               </div>
            </div>
            <div class="ibm-columns ibm-padding-bottom-0">
               <div class="ibm-col-1-1">
                  <div class="ibm-rule ibm-alternate ibm-nospacing ibm-gray-30">
                     <hr>
                  </div>
               </div>
            </div>
         </section>
      </div>
      <div id="ibm-footer">
         <div class="ibm-columns ibm-padding-bottom-0">
            <div class="ibm-col-1-1">
               <div class="ibm-footer-corporate-links ibm-word-break-all">
                  <ul class="ibm-padding-bottom-0 ibm-textcolumns-small-2">
                     <li><a href="https://www.ibm.com/contact/in/en/?lnk=flg" data-di-id="di-id-4b662070-7a8151c2">Contact</a></li>
                     <li><a href="https://www.ibm.com/privacy?lnk=flg-priv-inen" data-di-id="di-id-864c05af-d738b46a">Privacy</a></li>
                     <li><a href="https://www.ibm.com/legal/in/en/?lnk=flg" data-di-id="di-id-6d9e4762-d53b8e38">Terms of use</a></li>
                     <li><a href="https://www.ibm.com/able/?lnk=flg-able-inen" data-di-id="di-id-90bd0b9f-b7772d1f">Accessibility</a></li>
                     <li id="ibm-truste-cp" data-mode="footer-not-present"><a role="link" id="icon-id01412791465344252" tabindex="0" lang="en" aria-haspopup="true" aria-label="Cookie Preferences" class="bx--link bx--footer__link" data-di-id="#icon-id01412791465344252">Cookie Preferences</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>