<div class="cmp-helloworld" data-cmp-is="helloworld">
	<h2 class="cmp-helloworld__title">Migration Utility</h2>
	<form id="formClass" method="post">
		<label for="sourcefile">URL of the external site page (from source CMS):           &nbsp;&nbsp;  </label>
		<input style="margin-left: 50px; margin-top:15px; width:50%;" type="text" name="attachment" id="attachment">
	<br>	

		<label for="configfile">Upload configurations from file system in excel:           &nbsp;&nbsp;  </label>
		<input style="margin-left: 50px; margin-top:15px; width:50%;" type="file" name="config" id="config">
	<br>	
	<label for="url">AEM Site Root Path: </label>
	<input style="margin-left: 270px; margin-top:15px;margin-bottom:15px; width:50%;" type="text" name="url" id="url">
	<br>
		<label for="imagesPath">Path of images to be uploaded in DAM           &nbsp;&nbsp;  </label>
		<input style="margin-left: 50px; margin-top:15px; width:50%;" type="text" name="attachment" id="imagesPath">
		<br>
		<br>
		<label for="templatePath">Template path </label>
		<input style="margin-left: 50px; margin-top:15px; width:50%;" type="text" name="attachment" id="templatePath">
		<br>
	<button style="margin-left: 420px; margin-top:15px;margin-bottom:35px;" id="button_2" value="val_2" name="but2">Create Pages</button>
	</form>
	<p id="demo"></p>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			
			$("button").click(function (e) {
				var sourcePath = document.getElementById("attachment").value;
				var destPath= document.getElementById("url").value;
                var imagesPath = document.getElementById("imagesPath").value;
                var templatePath = document.getElementById("templatePath").value;
				var configPath= document.getElementById("config").files[0].name;
				e.preventDefault();
				$.ajax({
					type: "GET",
					url: "/bin/migrate-content",
					data: {
						"createPages": true,
						"imagesPath": imagesPath,
						"sourcePath": sourcePath,
						"destPath": destPath,
						"configPath": configPath,
						"templatePath":templatePath
					},
					success: function(result) {
						document.getElementById("demo").innerHTML = result;
						document.getElementById("formClass").style.display = "none";

					},
					error: function(result) {
						document.getElementById("demo").innerHTML = result;
					}
				});
			});
		});
	</script>
</div>