<sly data-sly-use.multiDataFetcher="${'com.aem.migration.core.models.PrimaryTabModel'}">
 <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
 <sly data-sly-call="${clientlib.css @ categories='migration.primarytab'}" />
    <div class="ibm-stickytabs-container row">
       <div class="ibm-stickytabs-grid-container">
          <ul class="ibm-stickytabs-link-list" data-widget="adjustanchorlinks" data-sly-list.item="${multiDataFetcher.multiDataMap}">
             <li>
                <a class="ibm-stickytabs-link-list-a active" href="#3171776" data-di-id="di-id-536c029d-3e36750e">
                  <span>${item.slNumber}</span>${item.headline}</a>
              </li>
            </ul>
          </div>
      </div>
   </sly>