<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.css @ categories='migration.section'}" />

<sly data-sly-use.sectionObj="${'com.aem.migration.core.models.SectionModel'}">
    <section role="article" lang="en" about="/en/node/3171770" id="3171770"
      class="ibm-pledges-section"
      data-bg-lazy-load="">
      <div class=" ibm-pledges-container row">
        <div class="col-sm-6 ibm-pledges-text">
            <span> ${sectionObj.sectionLabel}</span>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
          <div class="ibm-pledges-button">
            <a target="_self"
              href="${sectionObj.navigationUrl}"
              class="" data-di-id="di-id-9034d592-7d471213">
              ${sectionObj.sectionButton}
              <svg focusable="false" class="ibm-duo-u--link-icon--arrow-right" preserveAspectRatio="xMidYMid meet"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" aria-label="View this link"
                width="20" height="20" viewBox="0 0 20 20" slot="icon" data-di-res-id="e0f9e79a-4d4e613c"
                data-di-rand="1672900261439">
                <path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path>
              </svg>
            </a>
          </div>
        </div>

      </div>
    </section>
</sly>